@font-face {
  font-family: 'Ubuntu';
  src: url('../asserts/fonts/Ubuntu-Regular.woff2');
  font-display: swap;
}
html {
  font-size: 20px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

html,
body {
  cursor: url('../asserts/cur/normal.cur'), auto;
}
.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
.no-user-select {
  user-select: none;
}
@media screen and (max-width: 2560px) {
  html {
    font-size: 22px;
  }
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 18px;
  }
}
