@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Regular.woff2');
  font-display: swap;
}
html {
  font-size: 15px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
    Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

html,
body {
  cursor: url('../assets/cur/normal.cur'), auto;
}
.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
.no-user-select {
  user-select: none;
}

a {
  color: rgb(150, 150, 150);
  text-decoration: none;
}

//@media screen and (max-width: 2560px) {
//  html {
//    font-size: 19px;
//  }
//}
//
//@media screen and (max-width: 1920px) {
//  html {
//    font-size: 17px;
//  }
//}
//
//@media screen and (max-width: 1440px) {
//  html {
//    font-size: 15px;
//  }
//}
