.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.25rem;
  font: 0.8rem 'Ubuntu', sans-serif;
  background: rgba($white, 0.95);
  box-shadow: 0 1px 40px -8px rgba($black, 0.5);
  z-index: 2;
  transition: all 500ms ease;
  .logo {
    margin-left: 1.5rem;
    text-indent: -99999px;
    width: 15rem;
    height: 2.2rem;
    background: url('../../asserts/images/header/zhongyao-blog-logo.png')
      no-repeat center top;
    background-size: cover;
  }
  .nav_link_block {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .nav_link {
      position: relative;
      margin-right: 1.4rem;
      padding-right: 0.2rem;
      &:last-child::after {
        height: 0;
      }
      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 4px;
        background: $orange;
        bottom: 0;
        left: 0;
        transition: all 300ms ease;
      }
      &:hover::after {
        width: 100%;
        transition: all 300ms ease;
      }
      .icon_search {
        position: relative;
        top: 0.1rem;
        width: 1.3rem;
        height: 1.3rem;
        fill: $svg_color;
      }
      .link {
        display: block;
        height: 3.25rem;
        line-height: 3.25rem;
        color: $svg_color;
        .icon {
          position: relative;
          top: 0.1rem;
          width: 0.8rem;
          height: 0.8rem;
          fill: $svg_color;
          margin-right: 0.4rem;
        }
        .menu_name {
          text-transform: capitalize;
          transition: all 500ms linear;
        }
        &:hover {
          color: $orange;
          > .icon {
            fill: $orange;
          }
        }
        &:hover > .icon_home {
          animation: horizontal 2s ease infinite;
        }
        &:hover > .icon_blog {
          animation: wrench 2s ease infinite;
        }
        &:hover > .icon_archive {
          animation: vertical 2s ease infinite;
        }
        &:hover > .icon_music {
          animation: tada 2s ease infinite;
        }
        &:hover > .icon_photo {
          animation: horizontal 2s ease infinite;
        }
        &:hover > .icon_CV {
          animation: wrench 2s ease infinite;
        }
        &:hover > .icon_apps {
          animation: pulse 2s ease infinite;
        }
        &:hover > .icon_RSS {
          animation: tada 2s ease infinite;
        }
      }
    }
  }
}
.clear_navbar_bg {
  box-shadow: none;
  background: transparent;
  transition: all 600ms ease;
  &:hover {
    background: rgba($white, 0.95);
    box-shadow: 0 1px 40px -8px rgba($black, 0.5);
  }
}
@keyframes horizontal {
  0% {
    transform: translate(0, 0);
  }
  6% {
    transform: translate(5px, 0);
  }
  12% {
    transform: translate(0, 0);
  }
  18% {
    transform: translate(5px, 0);
  }
  24% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(5px, 0);
  }
  100%,
  36% {
    transform: translate(0, 0);
  }
}

@keyframes wrench {
  0% {
    transform: rotate(-12deg);
  }
  8% {
    transform: rotate(12deg);
  }
  10% {
    transform: rotate(24deg);
  }
  18%,
  20% {
    transform: rotate(-24deg);
  }
  28%,
  30% {
    transform: rotate(24deg);
  }
  38%,
  40% {
    transform: rotate(-24deg);
  }
  48%,
  50% {
    transform: rotate(24deg);
  }
  58%,
  60% {
    transform: rotate(-24deg);
  }
  68% {
    transform: rotate(24deg);
  }
  100%,
  75% {
    transform: rotate(0);
  }
}

@keyframes vertical {
  0% {
    transform: translate(0, -3px);
  }
  4% {
    transform: translate(0, 3px);
  }
  8% {
    transform: translate(0, -3px);
  }
  12% {
    transform: translate(0, 3px);
  }
  16% {
    transform: translate(0, -3px);
  }
  20% {
    transform: translate(0, 3px);
  }
  100%,
  22% {
    transform: translate(0, 0);
  }
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-8deg);
  }
  30%,
  50%,
  70% {
    transform: scale(1.3) rotate(8deg);
  }
  40%,
  60% {
    transform: scale(1.3) rotate(-8deg);
  }
  100%,
  80% {
    transform: scale(1) rotate(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}
